@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');

*{
    
        font-family: "Jersey 25", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: rgba(255, 0, 0, 0.63);
    
      
}

body{
    background: linear-gradient(109.6deg, rgb(6, 2, 2) 32.4%, rgb(137, 30, 47) 98.8%);
}

.card{
    color: wheat;
    background: linear-gradient(135.8deg, rgb(26, 26, 29) 27.1%, rgb(111, 34, 50) 77.5%);
}